<div class="modal fade" id="empDelModal" tabindex="-1" role="dialog" aria-labelledby="empDelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="empDelModalLabel">Confiramtion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="empDeleteForm" action="" method="post">         
          <div class="modal-body">
              <input type="hidden" name="id" id="id">
              <p class="lead text-danger">Are you sure?</p>
    		  </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-danger">Yes</button>
          </div>          
      </form>
    </div>
  </div>
</div>